version: '3.8'

services:
  # --- MASTER NODE ---
  master-node:
    build: .
    command: python master.py
    ports:
      - "50051:50051"
    volumes:
      - ./hasil_output:/app/hasil_output 
    networks:
      - dfs-net

  # --- DATA NODE 1 ---
  datanode-1:
    build: .
    command: python datanode.py
    volumes:
      - ./storage/node1:/data
    networks:
      - dfs-net

  # --- DATA NODE 2 ---
  datanode-2:
    build: .
    command: python datanode.py
    volumes:
      - ./storage/node2:/data
    networks:
      - dfs-net

  # --- DATA NODE 3 ---
  datanode-3:
    build: .
    command: python datanode.py
    volumes:
      - ./storage/node3:/data
    networks:
      - dfs-net

  # # --- DATA NODE 4 ---
  # datanode-4:
  #   build: .
  #   command: python datanode.py
  #   volumes:
  #     - ./storage/node4:/data
  #   networks:
  #     - dfs-net

  # # --- DATA NODE 5 ---
  # datanode-5:
  #   build: .
  #   command: python datanode.py
  #   volumes:
  #     - ./storage/node5:/data
  #   networks:
  #     - dfs-net

  # # --- DATA NODE 6 ---
  # datanode-6:
  #   build: .
  #   command: python datanode.py
  #   volumes:
  #     - ./storage/node6:/data
  #   networks:
  #     - dfs-net

  # # --- DATA NODE 7 ---
  # datanode-7:
  #   build: .
  #   command: python datanode.py
  #   volumes:
  #     - ./storage/node7:/data
  #   networks:
  #     - dfs-net

  # # --- DATA NODE 8 ---
  # datanode-8:
  #   build: .
  #   command: python datanode.py
  #   volumes:
  #     - ./storage/node8:/data
  #   networks:
  #     - dfs-net

networks:
  dfs-net:
